<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>novelSearchEngines</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>  
  <servlet>
    <servlet-name>SimpleSearchServlet</servlet-name>
    <servlet-class>searchEngines.searchCon.SimpleSearchServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>SimpleSearchServlet</servlet-name>
    <url-pattern>/SimpleSearchServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>JuniorSearchServlet</servlet-name>
    <servlet-class>searchEngines.searchCon.JuniorSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JuniorSearchServlet</servlet-name>
    <url-pattern>/JuniorSearchServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChapterContenrServlet</servlet-name>
    <servlet-class>searchEngines.searchCon.ChapterContenrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChapterContenrServlet</servlet-name>
    <url-pattern>/ChapterContenrServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ChapterListServlet</servlet-name>
    <servlet-class>searchEngines.searchCon.ChapterListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChapterListServlet</servlet-name>
    <url-pattern>/ChapterListServlet</url-pattern>
  </servlet-mapping>
</web-app>